@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Playfair+Display&family=Raleway&family=Roboto&display=swap');
$openSan:'Open Sans', sans-serif;
$Oswald:'Oswald', sans-serif;
$Playfair:'Playfair Display', serif;
$Raleway: 'Raleway', sans-serif;
$Roboto:'Roboto', sans-serif;
$halfWidth:40%;
%default-MarPad {
    margin: 0;
    padding: 0;
}
%imgWidhigh{
    width:100%;
    height: 100%;
}
body{
  font-family: $Oswald;  
  font-size: 14px;
  @extend %default-MarPad;
}
h1{
    @extend %default-MarPad;
    font-size: 50px;
    color:rgb(2, 29, 2);
    font-family:$Roboto ;
    span.name_highlight{
        color:rgb(255, 102, 0)
    }
}
.half-width{
    width:$halfWidth;
    float: left;
    margin-left: 5%;
    padding: 2%;
    img{
        @extend %imgWidhigh;
    }
}
